<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Roch: About us</title>
  </head>
  <style>
  h1 {color: Yellow}
  h2 {color: Yellow}
  a { color: Red }
  p {color : yellow }
  </style>
  <body background="beautiful-hotel-hawaii-united-states.jpg">
    <h1> Welcome to Hotel Roch!</h1>
	<h2> History </h2>
	<p>Hotel Roch was inspired by the creative juices of Miguel Rocha who realized that a hotel near a school is such a good investment because of the students who are in need of a good room </p>
	<a href=""></a>
	<p><a href="home.erb"> Home </a></p>
  </body>
</html>