  <DOCTYPE! html>
  <html>
  <head>
    <title>Hotel Pandora: Types of Room</title>
  </head>
    <style>
  h1 {color: Yellow}
  h2 {color: Yellow}
  a { color: Red }
  p {color : yellow }
  </style>
  <body background="beautiful-hotel-hawaii-united-states.jpg">
    <h1> Types of Rooms</h1>
	<h2> Single </h2>
	<p>This room contains a single bed and a bathroom. This room is only good for one person. Rate: 699</p>
	<img src = "birmingham-airport-hilton-metropole-hotel-single-room.jpg" height="200" width="500"></img>
	<h2> Double </h2>
	<p>This room contains a two single beds and a bathroom. This room is good for two persons. Rate: 999</p>
	<img src = "Germain-Calgary-Hotel-double-bedroom-interior-design.jpg" height="200" width="500"></img>
	<h2> Deluxe </h2>
	<p>This room contains a two queen sized-bed and a bathroom. This room is good for four persons. Rate: 1999</p>
	<img src = "jjw-hoteldevigny-deluxe-room-bedroom-640x425.jpg" height="200" width="500"></img>
	<h2> Family </h2>
	<p>This room contains a three queen sized-bed and two bathrooms. This room is good for six persons. Rate: 2699</p>
	<img src = "bangkok-hotel-11.jpg" height="200" width="500"></img>
	<p><a href="home.erb"> Home </a></p>
  </body>
</html>